* {
  box-sizing: border-box;
}

body {
  font-family: helvetica;
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
  margin: 0;
}

header {
  border-bottom: lightgrey 1px solid !important;
}

#title h1 {
  padding: 10px;
  float: left;
  font-size: 4.5em;
  color: rgba(247, 103, 20, 1);
}

h1 {
  text-transform: uppercase;
  padding: 0;
  margin: 0 !important;
}

h2 {
  font-size: 1em;
  color: rgba(0, 0, 0, 1);
}

nav {
  position: relative;
  left: 150px;
  margin: 0 !important;
}

nav ul {
  position: absolute;
  bottom: 0;
  left: 0;
  list-style-type: none;
}

nav a {
  color: rgba(247, 103, 20, 1);
  text-decoration: none;
  font-family: 'Noto Serif', serif;
  font-size: 1.3em;
  text-transform: uppercase;
}

nav a:hover {
  color: rgba(247, 103, 20, 1);
  font-style: italic;
  background-color: transparent !important;
}

#portfolio {
  width: 100%;
  height: auto;
}

div #description {
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 750px;
  float: left;
  padding: 100px;
}

p {
  color: rgba(0, 0, 0, 1);
  text-align: justify;
  margin: 0;
  -webkit-columns: 1;
  -moz-columns: 1;
  columns: 1;
}

div #gallery {
  background-color: rgba(255, 255, 255, 1);
  width: 50%;
  height: 750px;
  position: relative;
  float: right;
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  overflow: scroll;
}

.column {
  flex: 50%;
  -ms-flex: 50%;
  max-width: 50%;
  padding: 0 .5px;
}

#gallery img {
  padding-bottom: 1px;
  position: relative;
  width: 100%;
  max-width: 100%;
  -moz-transition: all .8s;
  -webkit-transition: all .8s;
  transition: all .8s;
}

#gallery img:hover {
  opacity: .2;
  overflow: hidden;
}
